{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div class="mx-auto max-w-3xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        {% include ('profile/nav.html.twig') %}
        <main>
            <div class="overflow-hidden rounded-lg bg-white shadow">
                <div class="p-6">
                    {% include 'profile/_books.html.twig' %}
                </div>
            </div>
        </main>
    </div>
{% endblock %}
