{% extends 'base.html.twig' %}

{% block title %}Profile
{% endblock %}

{% block body %}
    <section class="pt-[120px] pb-[120px]">
        <div class="container">
            <div class="-mx-4 flex flex-wrap light-dark w-full">
                <turbo-frame id="profile" src="{{ path('app_profile_adventures') }}"></turbo-frame>
            </div>
        </div>
    </section>
{% endblock %}
