<header>
    <nav class="flex overflow-x-auto border-b border-white/10 py-4">
        <ul class="flex min-w-full flex-none gap-x-6 leading-6">
            <li>
                <a href="{{ path('app_profile') }}" class="text-black">Your adventures</a>
            </li>
            <li>
                <a href="{{ path('app_books_profile') }}" class="">Your books</a>
            </li>
        </ul>
    </nav>
</header>
