{% extends 'base.html.twig' %}

{% block body %}
<div>
    {% for book in books %}
        <div>
            <a href='{{ path("app_book", { slug: book.getSlug() }) }}'>{{ book.getTitle()}}</a>
        </div
    {% endfor %}
</div>
{% endblock %}
