{% extends 'base.html.twig' %}

{% block body %}
<main class="-mt-24 pb-8">
    <div class="mx-auto max-w-3xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <h1 class="sr-only">Page title</h1>
        <div class="grid grid-cols-1 gap-4 lg:col-span-2">
            <section aria-labelledby="section-1-title">
                <h2 class="sr-only" id="section-1-title">Section title</h2>
                <div class="overflow-hidden rounded-lg bg-white shadow">
                    <div class="p-6">
                        {{ book.getTitle() }}
                        {{ book.getDescription() }}

                        <a href="{{ path('app_adventure') }}">Commencer l'aventure</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>
{% endblock %}
