{% extends 'base.html.twig' %}

{% block body %}
    <div class="grid grid-cols-1 gap-4 lg:col-span-2">
        <section aria-labelledby="section-1-title">
            <h2 class="sr-only" id="section-1-title">Section title</h2>
            <div class="overflow-hidden rounded-lg bg-white shadow">
                <div class="p-6">
                    Edit
                </div>
            </div>
        </section>
    </div>
{% endblock %}
