{% extends 'base.html.twig' %}

{% block body %}
<div>
    {{ book.getTitle() }}
    {{ book.getDescription() }}

    <a href="{{ path('app_adventure') }}">Commencer l'aventure</a>
</div>
{% endblock %}
