{% extends 'base.html.twig' %}

{% block body %}
    <div class="grid grid-cols-1 gap-4 lg:col-span-2">
        <section aria-labelledby="section-1-title">
            <h2 class="sr-only" id="section-1-title">Section title</h2>
            <div class="overflow-hidden rounded-lg bg-white shadow">
                <div class="p-6">
                    {# <turbo-frame id="book-info"> #}
                        {% for book in books %}
                            <ul role="list" class="divide-y divide-gray-100">
                                <li class="flex items-center justify-between gap-x-6 py-5">
                                    <div class="min-w-0">
                                        <div class="flex items-start gap-x-3">
                                            <p class="text-sm font-semibold leading-6 text-gray-900">{{ book.title }}</p>
                                            <p class="rounded-md whitespace-nowrap mt-0.5 px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset text-green-700 bg-green-50 ring-green-600/20">Complete</p>
                                        </div>
                                        <div class="mt-1 flex items-center gap-x-2 text-xs leading-5 text-gray-500">
                                            <p class="truncate">{{ book.description }}</p>
                                        </div>
                                    </div>
                                    <div class="flex flex-none items-center gap-x-4">
                                        <a href="{{ path('app_book', { slug: book.slug }) }}" class="hidden rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:block">
                                            View book
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        {% endfor %}
                    {# </turbo-frame> #}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
