{% extends 'base.html.twig' %}

{% block body %}
<div class="w-4/5 m-auto">
    <div class="flex">
        <div class="w-3/4">
            <turbo-frame id="chapter-content">
                {% include 'chapter/chapter.html.twig' %}
            </turbo-frame>
        </div>
        <div>
            <turbo-frame id="adventure-sheet">
                {% include 'adventure_sheet/adventure_sheet.html.twig' %}
            </turbo-frame>
        </div>
    </div>
</div>
{% endblock %}
