{% extends 'base.html.twig' %}

{% block title %}Hello AdventureSheetController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>{{ adventure_sheet.getLuck() }}</li>
    </ul>
</div>
{% endblock %}
