<form {{ attributes }} class="row g-3">
    <div class="input-group mb-3 col">
        <div class="form-floating">
            <input type="text" data-model="item" class="form-control form-control-lg" autofocus />
        </div>

        <button data-action="live#action" data-action-name="prevent|saveItem" class="btn btn-outline btn-outline-secondary">Save</button>
    </div>
</form>
