<div {{ attributes }} class="border border-white p-2 col-span-2 row-span-2">
    <div class="flex justify-center">
        Equipment
        {% if not isAdding %}
            <button type="button" class="btn btn-secondary ml-2" data-action="live#action" data-action-name="addItem">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"/>
                </svg>

            </button>
        {% endif %}
    </div>
    {% for  item in adventureSheet.inventory %}
        <div class="flex items-justify">
            <span data-model="item">{{ item }}</span>
            <button data-action="live#action" data-action-name="deleteItem(item={{ item }})" class="btn btn-outline btn-outline-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6"/>
                </svg>
            </button>
        </div>
    {% endfor %}
    {% if isAdding %}
        <div class="mb-2">
            <input type="text" data-model="item" class="w-full rounded-md border border-transparent py-3 px-6 text-base text-body-color placeholder-body-color shadow-one outline-none focus:border-primary focus-visible:shadow-none dark:bg-[#242B51] dark:shadow-signUp" autofocus/>
        </div>

        <button data-action="live#action" data-action-name="prevent|saveItem" class="flex w-full items-center justify-center rounded-md bg-primary py-4 px-9 text-base font-medium text-white transition duration-300 ease-in-out hover:bg-opacity-80 hover:shadow-signUp">Save</button>

        <button data-action="live#action" data-action-name="cancelItem" class="flex w-full items-center justify-center rounded-md bg-secondary py-4 px-9 text-base font-medium text-white transition duration-300 ease-in-out hover:bg-opacity-80 hover:shadow-signUp">
            Cancel
        </button>
    {% endif %}
</div>
