<div {{ attributes }} class="border border-black">
    Luck<br>
    Initial Luck:
    {{ adventureSheet.initialLuck }}<br>
    <button type="button" class="btn btn-secondary" data-action="live#action" data-action-name="saveLuck(direction=down)">
        down luck
    </button>
    {{ adventureSheet.luck }}
    <button type="button" class="btn btn-secondary" data-action="live#action" data-action-name="saveLuck(direction=up)">
        up luck
    </button>
</div>
