<div {{ attributes }} class="flex items-center">
    {% if not deleted %}
        <span data-model="item">{{ item }}</span>
        <button data-action="live#action" data-action-name="prevent|deleteItem" class="btn btn-outline btn-outline-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
            </svg>
        </button>
    {% endif %}
</div>
