<div{{attributes}} class="border border-black">
    Skill<br>
    Initial Skill:
    {{ adventureSheet.initialSkill }}<br>
    <button type="button" class="btn btn-secondary" data-action="live#action" data-action-name="saveSkill(direction=down)">
        down skill
    </button>
    {{ adventureSheet.skill }}
    <button type="button" class="btn btn-secondary" data-action="live#action" data-action-name="saveSkill(direction=up)">
        up skill
    </button>
</div>
