<div{{attributes}} class="border border-black">
    Stamina<br>
    Initial Stamina:
    {{ adventureSheet.initialStamina }}<br>
    <button type="button" class="btn btn-secondary" data-action="live#action" data-action-name="saveStamina(direction=down)">
        down stamina
    </button>
    {{ adventureSheet.stamina }}
    <button type="button" class="btn btn-secondary" data-action="live#action" data-action-name="saveStamina(direction=up)">
        up stamina
    </button>
</div>
